body {
  font-family: sans-serif;
}
button.expand-target {
  background: transparent;
  border: transparent;
  font-size: 1rem;
}

.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(-45deg);
  width: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-icon--rotated {
  transform: translateY(2px) rotate(-135deg);
}

.language-item {
  margin-bottom: 0.5rem;
}
.accordion-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background-color: white;
}

.accordion-item.expanded .accordion-icon {
  transform: rotate(45deg);
}
.expanded {
  max-height: 250px;
}

.accordion-item.expanded .accordion-content {
  padding: 1rem;
  max-height: 200px;
}
.expand-target {
  width: 100%;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  display: flex;
}
