ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: 0;
}
.todo-item {
  display: flex;
}
.todo-completed {
  text-decoration: line-through;
}

.todo-list-container {
  margin-left: 20rem;
}
.main-exercises {
  margin-left: 2rem;
}

.local-storage {
  margin-left: 2rem;
}
